* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montseratt', sans-serif;
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.appec {
  height: 0;
 
}

.root {
  height: 100vh;
  background-repeat: no-repeat;
}

.app {
  background-image: url('./assets/danny-lines-zZOq1CeMSNM-unsplash.jpg');
  position: relative;
  margin: 100px auto;
  margin-left: 70px;
  min-width: 360px;
  min-height: 780px;
  max-width: 360px;
  max-height: 780px;
  border-radius: 40px;
  /* box-shadow: 0px 0px 0px 11px #1f1f1f, 0px 0px 0px 13px #191919, 0px 0px 0px 20px #111; */
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.app.warm {
  background-image: url('./assets/pedro-lastra-Y9utglm0VpQ-unsplash.jpg');
}

main {
  min-height: 100vh;
  padding: 25px;
}

.logo {
  width: 250px;
  padding: 30px;
  cursor: pointer;
}

.search-box {
  width: 100%;
  margin: 0 0 75px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);

  color: #313131;
  font-size: 20px;
  
  transition: 0.4s ease;
}

 .search:focus {
  background-color: rgba(255, 255, 255, 0.75);
}


.location-box .location {
  color: #FFF;
  font-size: 32px;
  font-weight: 32px;
  text-align: center;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  margin-top: 5px;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;

}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
}

.weather-box .weather {
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
}

.content, .device {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
}



.content h1 {
  text-align: center;
  font-weight: 900;
  font-size: 54px;
  color:#e8e2f6;
  margin-top: 50px;
  
}

.content p {
  padding: 20px;
  font-size: 20px;
  text-align: center;
  color:#4a494d;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content {
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.search {
  width: 60%;
  max-width: 400px;
  min-width: 300px;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 16px 16px 16px 16px;


  color: #313131;
  font-size: 20px;
  transition: 0.4s ease;
}

@media screen and (max-width: 700px) {
 

}

@media screen and (max-width: 550px) {
  .device {
    margin-left: -40px;
  }

  .search-box {
    margin-left: -40px;
    margin-bottom: -50px;
  }

  .weather-box, .location {
    margin-top: 80px;
  }

  .content p, h1{
    padding: 0;
    width: 170%;
    margin-left: -30px;
  }

}